* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.none {
    color: white;
    font-size: 45px;
    text-align: center;
    font-family: monospace;
    font-style: inherit;
}
body {
    margin: 0;
    background-image: url(Imagenes/luna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}
body:before {
    content:"" ;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(white,black);
    opacity: 0.3;
}
.auto {
    font-size:30px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
}
.none2 {
    font-size:30px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 70%;
    display: inline-block;
    border: groove 4px skyblue;
}

