* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: rgb(75, 75, 202);
}




.cate {
    color: ivory;
}
.dog {
    height: 60px;
    width: 60px;
    border:  12px groove white;
}